@import "tailwindcss";

@theme {
  /* fonts */
  --font-sans: "Atkinson", sans-serif;
}

@layer base {
  ::selection {
    @apply bg-green-700 text-white;
  }

  img {
    @apply rounded-lg;
  }

  /* your custom Atkinson fonts */
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "Atkinson";
    src: url("/fonts/atkinson-bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

}
