---
const today = new Date();
import { Image } from "astro:assets";
import Logo from "assets/logo.png";
import Agenda from "assets/2030.png";
---

<footer class="pt-8 px-4 pb-24 bg-gradient-to-b from-green-500/10 to-white text-green-800 text-xl text-center">
  <p>&copy; {today.getFullYear()} Esh.Green • All rights reserved.</p>
  <div class="flex justify-center items-center gap-4 mt-4">
    <a href="/" class="text-gray-600 hover:text-gray-800">
      <span class="sr-only">Go to Homepage</span>
      <Image src={Logo} alt="Site Logo" width={30} height={30} class="h-8 w-auto" />
    </a>
    <a
        href="https://www.agenda-2030.fr/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-gray-600 hover:text-gray-800"
    >
      <span class="sr-only">Go to Agenda 2030</span>
      <Image src={Agenda} alt="Agenda 2030 Logo" width={30} height={30} class="h-8 w-auto" />
    </a>
  </div>
</footer>
