---
import HeaderLink from "./HeaderLink.astro"
import { SITE_TITLE } from "../consts"
import { Image } from "astro:assets"
import Logo from "assets/logo.png"
import Agenda from "assets/2030.png"
---

<header class="bg-white px-4 shadow-lg shadow-green-400/10">
  <nav class="flex items-center justify-between container mx-auto">
    <!-- logo + title -->
    <div class="flex items-center space-x-3">
      <a href="/" class="block">
        <Image src={Logo} alt="Site Logo" width={30} height={30} class="h-8 w-auto" />
      </a>
      <h2 class="text-lg my-auto font-semibold text-green-700">
        <a href="/">{SITE_TITLE}</a>
      </h2>
    </div>

    <!-- nav links -->
    <div class="flex items-center space-x-4">
      <HeaderLink
          href="/"
          class="py-4 px-2 text-black border-b-4 border-transparent hover:border-b-accent"
      >Home
      </HeaderLink>
      <HeaderLink
          href="#mission"
          class="py-4 px-2 text-black border-b-4 border-transparent hover:border-b-accent"
      >Our Mission
      </HeaderLink>
      <HeaderLink
          href="#contact"
          class="py-4 px-2 text-black border-b-4 border-transparent hover:border-b-accent"
      >Contact
      </HeaderLink>
      <!--<HeaderLink href="/blog"  class="py-4 px-2 text-black border-b-4 border-transparent hover:border-b-accent">Blog</HeaderLink>-->
      <!--<HeaderLink href="/about" class="py-4 px-2 text-black border-b-4 border-transparent hover:border-b-accent">About</HeaderLink>-->
    </div>

    <!-- social icon (hidden on small screens) -->
    <div class="hidden md:flex items-center">
      <a
          href="https://www.agenda-2030.fr/"
          target="_blank"
          rel="noopener noreferrer"
          class="py-4 px-2 text-black hover:text-black"
      >
        <span class="sr-only">Go to Agenda 2030</span>
        <Image src={Agenda} alt="Agenda 2030 Logo" width={30} height={30} class="h-8 w-auto" />
      </a>
    </div>
  </nav>
</header>
